{% extends 'base.html.twig' %} {% block title %}
  Hello IndexController!
{% endblock %}

{% block body %}
  <section class="px-8">
    <ul class="lg:max-w-5xl mx-auto grid lg:grid-cols-3 lg:gap-6 gap-3 py-20">
      {% for post in posts %}
        {% include 'components/_blog_card.html.twig' with {
          title: post.title,
          category: post.category,
          tags: post.tags,
          summary: post.summary,
          url: '',
          thumbnail: post.getThumbnailUrl
        } %}
      {% endfor %}
    </ul>
  </section>
{% endblock %}
